body{
  color: #40514E;
  margin: 0px;
  text-align: center;
font-family: 'Merriweather', serif;

}
h1{
  color: #66BFBF;

  line-height: 2;
  font-size:5.625rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;

}
h2{
  padding-bottom: 10px;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}
h3{
  color: #11999E;
font-family: 'Montserrat', sans-serif;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10PX 20PX;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
a:active{
  color:green;
}
.first{
background-color: #E4F9F5;
padding: 100px;

}
.middle-container{
margin: 100px 0;
}
.intro{

  width: 30%;
  margin: auto;
}
.skills{

}
.skill-row{
 width: 50%;
 margin: 100px auto 100px auto;
 text-align: left;
}
p{
   line-height: 2;
}
.contact-me{

}
.contact-massage{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50PX 0 20PX;

}
.pic1{
  width: 200px;
  height: 200px;

  border-radius: 100px;
}
.pic2{
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 100px;

}
.pic3{
  width: 25%;
float: right;
margin-left: 30px;
  border-radius: 100px;
}

.top-cloud{
  width: 150px;
  height: 100px;
  position: absolute;
  right: 100px;
  border-radius: 100px;


}
.botam-cloud{
  position: absolute;
  left: 100px;
  border-radius: 100px;

  width: 150px;
  height: 100px;

}
hr{
  border-style: dotted none none;
  height: 0px;
  background-color: white;
  border-width: 5px;
  border-color: grey;
  width: 5%;
}
.btn {
	box-shadow: -6px -7px 7px 1px #3dc21b;
	background-color:#44c767;
	border-radius:8px;
	border:4px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:19px;
	padding:10px 59px;
	text-decoration:none;
	text-shadow:-12px 4px 0px #2f6627;
}
.btn:hover {
	background-color:#5cbf2a;
}
.btn:active {
	position:relative;
  background-color: blue;
	top:1px;
}
